@import "tailwindcss";



:root {
  --background: #ffffff;
  --foreground: #171717; 
  --color-cipher-primary: #023697;
  --color-cipher-secondary: #010a1a;
  --color-cipher-tertiary: #21014b;
  --color-cipher-secondary: #023697;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--color-cipher-secondary);
  --font-sans: var(--font-myfont);
  --font-mono: var(--font-myfont);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #001d51;
    --foreground: #ededed;
  }
}
html{
  scroll-behavior: smooth;
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-myfont);
}
